<div class="wrap">
	<h1>Firebelly Createpreview</h1>
	  <ol>
	    <li>Create a new folder <strong>/project_name/</strong> on S3 in <em>client-preview.firebellydesign.com</em></li>
	    <li>Create <strong>/project_name/images/</strong> folder and upload jpgs</li>
	    <li>Select folder form list below to create the preview:</li>
	  </ol>
  <div class="columns">
    <ul>
      <% for project in projects %>
      <li><a href="<%= project %>"><%= project %></a></li>
      <% end %>
    </ul>
  </div>
</div>
