<div class="wrap">
  <h1>Firebelly Client Previews</h1>
  <div class="columns">
    <ul>
      <% for project in projects %>
      <li><a href="<%= project %>"><%= project %></a></li>
      <% end %>
    </ul>
  </div>
</div>
